.content {
	max-width: 800px;
	/* 원하는 최대 너비로 설정 */
	margin: 0 auto;
	/* 가운데 정렬 */
	margin-top: 40px;
}

.bar-data,
.line-data,
.period-data,
.work-data,
.time-data,
.wicket-data,
.wait-data {
	max-width: 800px;
	/* 원하는 최대 너비로 설정 */
	margin: 0 auto;
	/* 가운데 정렬 */
	margin-top: 40px;
	margin-bottom: 50px;
	/* 아래 간격을 넓히기 위해 추가 */
}

.session-control {
	position: fixed;
	/* 요소를 고정 위치로 설정 */
	left: 0;
	/* 화면 왼쪽 끝에 위치 */
	bottom: 0;
	/* 화면 아래쪽 끝에 위치 */
	background-color: rgba(0, 0, 0, 0.7);
	/* 반투명 배경 (선택 사항) */
	color: white;
	/* 텍스트 색상 */
	padding: 10px;
	/* 패딩 설정 (선택 사항) */
	box-sizing: border-box;
	/* 패딩과 테두리를 포함한 전체 너비 및 높이를 설정 */
}