.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2vh 0;
	/* 상하단 여백 줄임 */
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	z-index: 1000;
}

.modal-content {
	position: relative;
	background-color: white;
	padding: 15px;
	/* 전체 패딩 줄임 */
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 7.5cm;
	/* 너비 조정 */
	max-width: 100%;
	box-sizing: border-box;
}

.close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

.logo {
	width: 100%;
	max-width: 4.5cm;
	/* 로고 너비 줄임 */
	margin-bottom: 8px;
}

h1 {
	font-size: 3rem;
	/* 호출번호 글자 크기 줄임 */
	margin: 0;
}

.highlighted-text {
	font-size: 1.6rem;
	font-weight: bold;
}

.divider {
	border: none;
	border-top: 1px solid #ccc;
	margin: 8px 0;
	width: 100%;
}

.qr {
	width: 2.8cm;
	/* QR 코드 크기 조정 */
	height: auto;
	margin-top: 15px;
	/* 상단 여백 줄임 */
	margin-bottom: 8px;
	/* 하단 여백 줄임 */
}

.modal-content p {
	font-size: 1.1rem;
	/* 본문 텍스트 크기 조정 */
	margin: 4px 0;
	/* 본문 간격 줄임 */
}

.modal-content strong {
	font-size: 1.1rem;
	/* 강조 텍스트 크기 조정 */
}

.preview-text p {
	position: relative;
	padding-left: 1.2em;
	/* 들여쓰기 공간 줄임 */
	margin: 3px 0;
	/* 문단 간격 줄임 */
	font-size: 13px;
	text-align: left;
}

.preview-text p::before {
	content: "■";
	position: absolute;
	left: 0;
	color: black;
	font-size: 0.8rem;
}